* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.anchor {
  display: block;
  margin-top: -100vh;
  visibility: hidden;
  height: 0;
}

main {
  position: relative;
  z-index: 1;
  height: 100%;
  background: url("assets/stars2.jpg");
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: darken;
}

@keyframes star-move {
  0% {
    transform: translateX(100%);
  }
  10% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes explosion {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  10% {
    transform: scale(0.5);
    opacity: 1;
  }
  60% {
    transform: scale(1.5);
    opacity: 0;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes hubble-move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10rem);
  }
  100% {
    transform: translateX(0);
  }
}

.shooting-star {
  position: absolute;
  height: 100px;
  top: 50vh;
  right: 10vw;
  z-index: 0;
  rotate: -10deg;
  mix-blend-mode: exclusion;
  visibility: hidden;
  animation: none;
  animation-play-state: paused;
}

.explosion {
  position: absolute;
  height: 700px;
  top: 25vh;
  left: 10vw;
  z-index: 0;
  opacity: 0.7;
  visibility: hidden;
  animation: none;
  animation-play-state: paused;
}

.shooting-star.animate {
  visibility: visible;
  animation: star-move 20s linear forwards;
  animation-play-state: running;
}

.explosion.animate {
  visibility: visible;
  animation: explosion 20s linear forwards;
  animation-play-state: running;
}

#hubble {
  position: absolute;
  height: 50px;
  top: 5vh;
  right: 57vw;
  animation: hubble-move 20s ease-in-out infinite;
}

#hubble:hover {
  cursor: pointer;
}

.top-section {
  display: flex;
  height: 100vh;
  width: 100%;
  background: url("assets/bakgrunn.png") no-repeat;
  background-size: 100% 100%;
}

.top-section h1 {
  position: relative;
  bottom: 3rem;
  left: 5rem;
  z-index: 2;
  align-self: flex-start;
  width: 0;
  text-wrap-mode: nowrap;
  color: rgb(203, 192, 169);
  font-family: "Hanken Grotesk";
  /* font-family: "Alfa Slab One"; */
  font-size: 60px;
  letter-spacing: 10px;
  text-shadow: 5px 5px 10px rgb(19, 17, 28);
}

.jupiter-container {
  width: 40vw;
}

#jupiter {
  width: 160%;
  position: relative;
  top: -220px;
  left: -200px;
  transform: scale(1);
  transition: transform 0.25s;
  border-radius: 100%;
}

#jupiter:hover {
  transform: scale(1.02);
  transition: transform 0.25s;
}

.moons-container {
  display: flex;
  align-items: center;
  width: 60vw;
  padding-left: 10%;
  padding-top: 5%;
}

.moons-container img {
  height: 150px;
  transform: scale(1);
  transition: transform 0.25s;
  border-radius: 100%;
}

.moons-container img:hover {
  transform: scale(1.1);
  transition: transform 0.25s;
}

#ganymedes {
  position: relative;
  top: 10rem;
  right: 8rem;
  scale: 2;
}

#europa {
  position: relative;
  top: 5rem;
  left: 5rem;
  scale: 1.5;
}

#io {
  position: relative;
  left: 8rem;
  bottom: 5rem;
  scale: 1;
}

#callisto {
  position: relative;
  bottom: 13rem;
  right: 10rem;
  scale: 0.7;
}

.bottom-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 500vh;
  width: 100%;
  color: white;
}

.info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20rem;
  width: 90%;
  flex-direction: row;
  /* border: 3px rgb(0, 0, 255) solid; */
  box-shadow: 0 0 30px rgb(0, 0, 171);
  border-radius: 50px;
  background: rgba(0, 0, 0, 0.8);
  padding: 2rem;
}

.text-area {
  width: 50%;
  justify-self: flex-end;
  font-family: "Hanken Grotesk";
  font-size: 1.5rem;
  text-align: center;
}

.image-area {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 100%;
}

.image-area img {
  /* border: 2px white solid; */
  border-radius: 200px;
  height: 100%;
  box-shadow: 0 0 30px rgb(206, 206, 206);
}

.scroll-up {
  position: fixed;
  z-index: 3;
  color: black;
  scale: 2;
  bottom: 5rem;
  right: 8rem;
  width: 50px;
  height: 25px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px rgb(215, 189, 112);
  background: rgb(222, 186, 56);
}

.scroll-up:hover {
  cursor: pointer;
}
